.container {
  width: 45rem;
  margin: 20vh auto auto;
  border-radius: 5px;
  padding: 4rem;
  box-shadow: 0rem 1rem 2rem var(--shadow-color);

  h3 {
    font-size: 3rem;
    font-weight: 300;
  }

  .form {
    font-size: 1.5rem;
    &__row {
      margin-top: 2rem;
      display: flex;
    }
    &__group {
      flex: 1;

      label {
        display: block;
        margin-bottom: 1rem;
      }

      input {
        padding: 0.5rem 1rem;
      }
    }
  }
}
